<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoría de productos</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/privado/index.css">
    <link rel="stylesheet" href="../../resources/css/privado/categoria_producto.css">
</head>

<body>

    <main>
        <div class="main p-3">
            <div class="text-center">
                <h1>Categorías, colores y tallas de productos</h1>

                <form class="d-flex flex-grow-1 mt-4" id="searchForm">
                    <div class="buscador mx-auto position-relative">
                        <i class="fas fa-microphone search-icon microphone-button" id="microphone-button"></i>
                        <input class="busc light-table-filter" data-table="order-table" type="text"
                            placeholder="Busque por nombre o descripción" id="Buscador" name="search">
                        <div class="btna">
                            <i class="fa fa-search"><ion-icon name="search-outline"></ion-icon></i>
                        </div>
                    </div>

                </form>
                <div class="scrollable-content mt-5">
                    <div class="row justify-content-center">
                        <!-- Primera columna -->
                        <div class="col-md-4 py-2 px-5">
                            <h1>Categorías</h1>
                            <button type="button" class="btn btn-white me-md-2 mt-1" onclick="openCreate()">
                                <img src="../../resources/images/agregar.png" alt="buttonpng" width="60rem" />
                            </button>
                            <div class="container">
                                <div class="row" id="cardCategorias">
                    
                                </div>
                            </div>
                        </div>
                        <!-- Segunda columna -->
                        <div class="col-md-4 py-2 px-5">
                            <h1>Colores</h1>
                            <button type="button" class="btn btn-white me-md-2 mt-1" data-bs-toggle="modal"
                                data-bs-target="#saveModal2">
                                <img src="../../resources/images/agregar.png" alt="buttonpng" width="60rem" />
                            </button>
                            <div class="card">
                                <div class="card-body">
                                    <img src="../../resources/images/pelotas.png" class="card-img-top" alt="...">
                                    <p>Color 1</p>
                                    <p>#0000000</p>
                                </div>
                            </div>
                        </div>
                        <!-- Tercera columna -->
                        <div class="col-md-4 py-2 px-5">
                            <h1>Tallas</h1>
                            <button type="button" class="btn btn-white me-md-2 mt-1" data-bs-toggle="modal"
                                data-bs-target="#saveModal3">
                                <img src="../../resources/images/agregar.png" alt="buttonpng" width="60rem" />
                            </button>
                            <div class="card">
                                <div class="card-body">
                                    <img src="../../resources/images/camisas.png" class="card-img-top" alt="...">
                                    <p>Talla 1</p>
                                    <p>XS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado de la ventana modal -->
                <div class="modal-header">
                    <h5 class="modal-title text-align-center" id="modalTitle"></h5>
                </div>
                <!-- Contenido de la ventana modal -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="hidden" id="idCategoriaProducto" name="idCategoriaProducto">
                        <div class="col-sm-12 col-md-6">
                            <label for="nombreValor" class="col-sm-7 col-form-label">Nombre de la categoría:</label>
                            <input id="nombreCategoriaProducto" type="text" name="nombreCategoriaProducto"
                                class="form-control" required>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <label for="imagenValor" class="col-sm-7 col-form-label">Imagen de la categoría:</label>
                            <div class="position-relative">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="imagenCategoriaProducto"
                                        name="imagenCategoriaProducto">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" id="btnGuardar" name="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnCerrar"
                            name="btnCerrar">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="saveModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado de la ventana modal -->
                <div class="modal-header">
                    <h5 class="modal-title text-align-center" id="modalTitle2"></h5>
                </div>
                <!-- Contenido de la ventana modal -->
                <form id="saveForm2">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="hidden" id="idColorProducto" name="idColorProducto">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <label for="colorProducto" class="col-sm-7 col-form-label">Color a registrar:</label>
                            <div class="d-flex align-items-center">
                                <!-- Input de selección de color -->
                                <input id="colorProducto" type="color" name="colorProducto"
                                    class="form-control me-md-2 mb-2 mb-md-0" required
                                    onchange="updateColorHex(this.value)">
                                <!-- Input para mostrar el valor hexadecimal -->
                                <input id="colorHex" name="colorHex" class="form-control" required readonly>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" id="btnGuardar" name="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnCerrar"
                            name="btnCerrar">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="saveModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado de la ventana modal -->
                <div class="modal-header">
                    <h5 class="modal-title text-align-center" id="modalTitle3"></h5>
                </div>
                <!-- Contenido de la ventana modal -->
                <form id="saveForm3">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="hidden" id="idTallaProducto" name="idTallaProducto">
                        <div class="col-sm-12 col-md-6">
                            <label for="nombreValor" class="col-sm-7 col-form-label">Talla a registrar:</label>
                            <input id="nombreCategoriaProducto" type="text" name="nombreCategoriaProducto"
                                class="form-control" required>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" id="btnGuardar" name="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnCerrar"
                            name="btnCerrar">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/051460de0f.js" crossorigin="anonymous"></script>
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/private.js"></script>
    <script src="../../controllers/admin/categoriasproductos.js"></script>
</body>

</html>