<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/privado/index.css">

    <link rel="stylesheet" href="../../resources/css/privado/valores.css">
    <link rel="stylesheet" href="../../resources/css/privado/ordenes.css">
</head>

<body>

    <button class="toggle-btn1 d-md-none d-flex" type="button" onclick="toggleSidebar()">
        <img src="../../resources/images/logoAcademiaBP.png" alt="" width="30px" height="30px">
    </button>
    <main>
        <div class="text-center mt-5">
            <h1>
                Compras
            </h1>
        </div>
        <div class="mx-auto" id="contenedorPrin">

            <div class="col">
                <div class="row">
                    <div class="col-6 offset-3 d-flex justify-content-center">
                        <!-- Añadimos una clase offset-3 para centrar el buscador -->
                        <form class="d-flex flex-grow-1" id="searchForm">
                            <div class="buscador mx-auto position-relative">
                                <i class="fas fa-microphone search-icon microphone-button" id="microphone-button"></i>
                                <input class="busc light-table-filter" data-table="order-table" type="text"
                                    placeholder="Cliente, estado o fecha de compra" id="Buscador" name="search">
                                <div class="btna">
                                    <i class="fa fa-search"><ion-icon name="search-outline"></ion-icon></i>
                                </div>
                            </div>
                        </form>

                        <button type="button" class="btn btn-white me-md-2 mt-1" onclick="openReport2()"
                            title="Generar reporte predictivo de ventas">
                            <img src="../../resources/images/reporteee.png" alt="buttonpng" width="50rem"
                                height="50rem" />
                        </button>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex gap-2">
                            <button id="toggleViewBtn" class="btn btn-dark">Filtrar por fecha de la compra</button>
                            <!-- Botones relacionados -->
                            <button type="button" class="btn btn-white me-md-2 mt-1" onclick="openCreate()"
                                title="Continuar compra">
                                <img src="../../resources/images/iniciarcompra.png" alt="buttonpng" width="60rem" />
                            </button>
                            <button type="button" class="btn btn-white me-md-2 mt-1" onclick="openCreate2()"
                                title="Pagar compra">
                                <img src="../../resources/images/finalizarcompra.png" alt="buttonpng" width="60rem" />
                            </button>
                        </div>
                        <!-- Formulario alineado a la derecha -->
                        <form class="d-flex flex-column me-5" id="filterForm">
                            <div class="mb-3 ">
                                <label for="fechaCompra" class="form-label">Filtrar por una fecha específica</label>
                                <input type="date" id="fechaCompra" name="fechaCompra" class="form-control">
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                    <div id="scroll" class="col-12 col-md-12 col-sm-12">
                        <table class="table text-center">
                            <thead>

                                <tr>
                                    <td colspan="6" id="rowsFound"></td>
                                </tr>
                                <tr>
                                    <th class="table-dark text-white fw-bold">ID</th>
                                    <th class="table-dark text-white fw-bold">Cliente</th>
                                    <th class="table-dark text-white fw-bold">Dirección de entrega</th>
                                    <th class="table-dark text-white fw-bold">Fecha de la orden</th>
                                    <th class="table-dark text-white fw-bold">Estado de la orden</th>
                                    <th class="table-dark text-white fw-bold">Método de pago</th>
                                    <th class="table-dark text-white fw-bold">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                <!-- Aquí se llenarán los datos después de aplicar el filtro -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para guardar el estado de la orden -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title fs-3 w-100 text-center" id="modalTitle"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="saveForm">
                            <input type="hidden" id="idCompra" name="idCompra">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label for="Orden" class="col-sm-7 col-form-label">Estado de la orden:</label>
                                <select class="form-select mb-4" id="selectEstadoOrden" name="selectEstadoOrden"
                                    aria-label="Default select example">
                                    <option>Entregada</option>
                                    <option>Pendiente</option>
                                    <option>Finalizada</option>
                                    <option>Anulada</option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para mostrar los detalles de la orden -->
        <div class="modal fade" id="detailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title fs-3 w-100 text-center" id="modalTitleD"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form id="detailForm">
                        <div class="modal-body overflow-auto">
                            <input type="hidden" id="idCompra" name="idCompra">
                            <input type="hidden" id="idDetalle" name="idDetalle">
                            <div class="col-lg-10 col-sm-10 col-md-12 col-12 mx-auto">
                                <div id="scrollD">
                                    <table class="table text-center w-100">
                                        <thead>
                                            <tr>
                                                <td colspan="8" id="rowsFound2"></td>
                                            </tr>
                                            <tr>
                                                <th class="bg-dark text-white fw-bold">ID</th>
                                                <th class="bg-dark text-white fw-bold">Imagen</th>
                                                <th class="bg-dark text-white fw-bold">Nombre</th>
                                                <th class="bg-dark text-white fw-bold">Precio</th>
                                                <th class="bg-dark text-white fw-bold">Cantidad</th>
                                                <th class="bg-dark text-white fw-bold">Descuento</th>
                                                <th class="bg-dark text-white fw-bold">Personalización</th>
                                                <th class="bg-dark text-white fw-bold">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody2">
                                            <!-- Aquí se llenarán los detalles de la orden -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCompletarCompra" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Encabezado de la ventana modal -->
                    <div class="modal-header border-0">
                        <h5 class="modal-title fs-3 w-100 text-center" id="modalTitle2">Completar compra</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Contenido de la ventana modal -->
                    <form id="saveFormCompra">
                        <div class="modal-body row g-4">

                            <div class="col col-lg-6 text-start">
                                <!-- campo del nombre producto -->
                                <label for="DiaEntreno" id="DiaEntreno">Persona de la orden:</label>
                                <select class="form-select" aria-label="Default select example" name="idCompraSelect"
                                    id="idCompraSelect" required>
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="Categoria" class="col-sm-7">Producto a adquirir:</label>
                                <select class="form-select" id="idDetalleSelect" name="idDetalleSelect"
                                    aria-label="Default select example">

                                </select>
                            </div>

                            <div class="col col-lg-6 text-start">
                                <label for="DiaEntreno" id="DiaEntreno">Cantidad:</label>
                                <input type="number" class="form-control mt-2" id="cantidadProducto"
                                    name="cantidadProducto" aria-describedby="apellido" required>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="descripcionProducto" class="form-label">Personalizar producto:</label>
                                <input id="datosPersonalizacion" type="text" name="datosPersonalizacion"
                                    class="form-control" required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark" id="btnGuardar"
                                name="btnGuardar">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="modal fade" id="modalMetodos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header border-0">
                        <h1 class="modal-title fs-5 text-dark" id="modalTitle3"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="col col-lg-11 text-center mx-auto">
                        <!-- campo del nombre producto -->
                        <label for="DiaEntreno" id="DiaEntreno">Datos de la compra:</label>
                        <select class="form-select" aria-label="Default select example" name="idPago" id="idPago"
                            required>
                        </select>
                    </div>

                    <!-- Formulario para métodos de pago -->
                    <form id="metodosForm" class="p-3">
                        <h4 class="modal-title fs-5 text-dark">Seleccione un método de pago</h4>

                        <!-- Cards de métodos de pago -->
                        <div class="row rounded border-3" id="cardsMetodos"></div>

                        <input type="hidden" id="idMetodoPago" name="idMetodoPago">

                        <!-- Inputs del método de pago -->
                        <div class="text-center mb-3">
                            <div class="row">
                                <!-- Datos del pago y método de pago -->
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="datosPago" class="col-sm-7 col-form-label">Datos del pago</label>
                                    <input id="datosPago" type="text" name="datosPago" class="form-control"
                                        autocomplete="off" readonly>
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="nombreMetodo" class="col-sm-7 col-form-label">Método de pago:</label>
                                    <input id="nombreMetodo" type="text" name="nombreMetodo" class="form-control"
                                        readonly autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <!-- Inputs para tarjeta de crédito y débito -->
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="numeroTarjeta" class="col-sm-7 col-form-label" id="labeltarjeta">Número
                                        de tarjeta:</label>
                                    <input id="numeroTarjeta" type="text" name="numeroTarjeta" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="nombreTarjeta" class="col-sm-7 col-form-label" id="nombretarjeta">Nombre
                                        en tarjeta:</label>
                                    <input id="nombreTarjeta" type="text" name="nombreTarjeta" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="mesVencimiento" class="col-sm-7 col-form-label"
                                        id="mesvecnimientotarjeta">Mes de vencimiento:</label>
                                    <input id="mesVencimiento" type="number" name="mesVencimiento" class="form-control"
                                        placeholder="MM" min="1" max="12" autocomplete="off"
                                        oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="anioVencimiento" class="col-sm-7 col-form-label"
                                        id="aniovecnimientolabeltarjeta">Año de vencimiento:</label>
                                    <input id="anioVencimiento" type="number" name="anioVencimiento"
                                        class="form-control" placeholder="AAAA" min="2024" autocomplete="off"
                                        oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="codigoCVV" class="col-sm-7 col-form-label" id="cvvtarjeta">Código
                                        CVV:</label>
                                    <input id="codigoCVV" type="number" name="codigoCVV" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <!-- PayPal: Input para correo electrónico -->
                                <div class="col-sm-12 col-md-6 mb-3" id="inputPayPal">
                                    <label for="paypalCorreo" class="col-sm-7 col-form-label" id="correoPaypal">Correo
                                        de PayPal:</label>
                                    <input id="paypalCorreo" type="email" name="paypalCorreo" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <!-- Transferencia Bancaria: Inputs para número de cuenta y código SWIFT/BAN -->
                                <div class="col-sm-12 col-md-6 mb-3" id="inputTransferencia">
                                    <label for="numeroCuenta" class="col-sm-7 col-form-label" id="cuentanumero">Número
                                        de cuenta:</label>
                                    <input id="numeroCuenta" type="number" name="numeroCuenta" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3" id="inputCorreoTransferencia">
                                    <label for="CorreoTransferenciaA" class="col-sm-7 col-form-label"
                                        id="CorreoTransferenciaA">
                                        Correo del emisor:</label>
                                    <input id="CorreoTransferencia" type="email" name="CorreoTransferencia"
                                        class="form-control" autocomplete="off"
                                        oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-6" id="selectTipoCuenta">
                                    <label for="selectCuenta" class="col-sm-10 col-form-label">Tipo de cuenta:</label>
                                    <select class="form-select" id="selectCuenta" name="selectCuenta"
                                        aria-label="Default select example" onchange="debouncedActualizarDatosPago()">
                                        <option>Cuenta de ahorro</option>
                                        <option>Cuenta corriente</option>
                                    </select>
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3" id="inputReceptor">
                                    <label for="receptorNombre" class="col-sm-7 col-form-label"
                                        id="correoPaypal">Titular de la cuenta receptora:</label>
                                    <input id="receptorNombre" type="text" name="receptorNombre" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>


                                <!-- Efectivo: Inputs para mostrar el precio a pagar, cuánto se pagó, cuánto se dio de cambio-->
                                <div class="col-sm-12 col-md-6 mb-3" id="inputTotalPagar">
                                    <label for="totalPagar" class="col-sm-7 col-form-label" id="cuentanumero">Total a
                                        pagar:</label>
                                    <input id="totalPagar" type="numeber" name="totalPagar" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()" disabled>
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3" id="InputTotalDado">
                                    <label for="totalDado" class="col-sm-7 col-form-label" id="codigos">Total dado por
                                        el cliente</label>
                                    <input id="totalDado" type="number" name="totalDado" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-3" id="inputVuelto">
                                    <label for="cambioDado" class="col-sm-7 col-form-label" id="codigos">Cambio
                                        entregado</label>
                                    <input id="cambioDado" type="text" name="cambioDado" class="form-control"
                                        autocomplete="off" oninput="debouncedActualizarDatosPago()" disabled>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-dark col-lg-6 mt-1" onclick="finishOrder2()"
                            id="botonFinalizar">
                            <img src="../../resources/images/finich.png" alt="..." width="30px" height="30px">
                            Finalizar compra
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- Input invisible para almacenar la fecha seleccionada -->
    <input type="hidden" id="fechaCompra" name="fechaCompra">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/051460de0f.js" crossorigin="anonymous"></script>
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/private.js"></script>
    <script src="../../controllers/utils/voicerecognition.js"></script>
    <script src="../../controllers/admin/compras.js"></script>
    <script src="../../controllers/utils/toggle.js"></script>
    <script src="../../controllers/utils/metodospagos.js"></script>
</body>

</html>