<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria productos</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/privado/index.css">
    <link rel="stylesheet" href="/resources/css/privado/categoria_producto.css">

</head>

<body>

    <main>
        <div class="wrapper">
            <aside id="sidebar">
                <div class="d-flex">
                    <button class="toggle-btn" type="button">
                        <img src="../../resources/images/logoAcademiaBP.png" alt="" width="30px" height="30px">
                    </button>
                    <div class="sidebar-logo">
                        <a href="Menu.html">Menú</a>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item" onclick="Menu()">
                        <a href="Menu.html" class="sidebar-link">
                            <i class="lni lni-home"></i>
                            <span>inicio</span>
                        </a>
                    </li>
    
                    <li class="sidebar-item" onclick="categoriaProductos()">
                        <a href="categoriaProductos.html" class="sidebar-link">
                            <i class="lni lni-agenda"></i>
                            <span>Categorías de productos</span>
                        </a>
                    </li>
    
    
                    <li class="sidebar-item" onclick="productosP()">
                        <a href="productosP.html" class="sidebar-link">
                            <i class="lni lni-shopping-basket"></i>
                            <span>Productos</span>
                        </a>
                    </li>
    
    
                    <li class="sidebar-item" onclick="entre()">
                        <a href="entrenamientos.html" class="sidebar-link">
                            <i class="lni lni-basketball"></i>
                            <span>Entrenamientos</span>
                        </a>
                    </li>
    
    
                    <li class="sidebar-item" onclick="niveles_categorias()">
                        <a href="niveles_categorias.html" class="sidebar-link">
                            <i class="lni lni-layers"></i>
                            <span>Niveles</span>
                        </a>
                    </li>
    
    
                    <li class="sidebar-item" onclick="alumnos_total()">
                        <a href="alumnos_total.html" class="sidebar-link">
                            <i class="lni lni-graduation"></i>
                            <span>Alumnos</span>
                        </a>
                    </li>
                    <li class="sidebar-item" onclick="pagosDeMensualidad()">
                        <a href="pagosDeMensualidad.html" class="sidebar-link">
                            <i class="lni lni-dollar"></i>
                            <span>Pagos de mensualidad</span>
                        </a>
                    </li>
                    <li class="sidebar-item" onclick="inscripciones()">
                        <a href="inscripciones.html" class="sidebar-link">
                            <i class="lni lni-book"></i>
                            <span>Inscripciones</span>
                        </a>
                    </li>
                    <li class="sidebar-item" onclick="categoriaProfesores()">
                        <a href="#" class="sidebar-link">
                            <i class="lni lni-certificate"></i>
                            <span>Staff</span>
                        </a>
                    </li>
    
    
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#auth23" aria-expanded="false" aria-controls="auth">
                            <i class="lni lni-cogs"></i>
                            <span>Opciones de usuario</span>
                        </a>
                        <ul id="auth23" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
    
                            <li class="sidebar-item" onclick="gestion_usuario()">
    
                                <a href="gestion_usuarios.html" class="sidebar-link "> <i class="lni lni-user"></i>
                                    Gestionar usuarios</a>
    
                            </li>
    
                            <li class="sidebar-item" onclick="perfil_usuario()">
    
                                <a href="perfil_usuario.html" class="sidebar-link "> <i class="lni lni-user"></i>
                                    Ver perfil</a>
    
                            </li>
    
                            <li class="sidebar-item">
                                <a href="/views/public/index.html" class="sidebar-link"><img
                                        src="/resources/images/tienda.png" alt="..." width="20px" height="20px"
                                        class="me-2"></i>Ver sitio público</a>
                            </li>
    
                            <li class="sidebar-item" onclick="index()">
                                <a href="#" class="sidebar-link"> <i class="lni lni-exit"></i>Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            
            <div class="main p-3">
                <div class="text-center">
                    <h1>Productos</h1>
                    <div class="scrollable-content">
                        <div class="container">
                            <div class="row justify-content-center py-2">
                                <div class="py-5 justify-content-center">
                                    <div>
                                        <label class="text-center">Buscar productos o marcas</label>
                                        <div class="input-group">
                                            <input class="typeahead form-control" type="text" placeholder="Buscar...">
                                            <div class="input-group-append">
                                                <!--Boton para la barra de busqueda-->
                                                <img src="/resources/images/lupa.png" alt="..." width="20px"
                                                    height="20px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-white me-md-2 mt-2" data-bs-toggle="modal"
                                        data-bs-target="#modalAgregar">
                                        <img src="/resources/images/agregar.png" alt="buttonpng" width="60rem" />
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="container row row-cols-1 row-cols-md-3 g-3">
                            <div class="col p-5">
                                <div class="card-header text-center">Botella</div>
                                <div class="card">
                                    <img src="https://walmartsv.vtexassets.com/arquivos/ids/359999/Botella-Plastica-700-Ml-Mainstays-1-39404.jpg?v=638352382649230000"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Botella de agua termica 500 ml</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>

                            <div class="col p-5">
                                <div class="card-header text-center">Mikasa</div>
                                <div class="card">
                                    <img src="https://m.media-amazon.com/images/I/91Ck00J98vL.jpg" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Balon de alta durabilidad</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>
                            <div class="col p-5">
                                <div class="card-header text-center">Botella</div>
                                <div class="card">
                                    <img src="https://walmartsv.vtexassets.com/arquivos/ids/359999/Botella-Plastica-700-Ml-Mainstays-1-39404.jpg?v=638352382649230000"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Botella de agua termica 500 ml</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>

                            <div class="col p-5">
                                <div class="card-header text-center">Mikasa</div>
                                <div class="card">
                                    <img src="https://m.media-amazon.com/images/I/91Ck00J98vL.jpg" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Balon de alta durabilidad</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>

                            <div class="col p-5">
                                <div class="card-header text-center">Botella</div>
                                <div class="card">
                                    <img src="https://walmartsv.vtexassets.com/arquivos/ids/359999/Botella-Plastica-700-Ml-Mainstays-1-39404.jpg?v=638352382649230000"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Botella de agua termica 500 ml</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>

                            <div class="col p-5">
                                <div class="card-header text-center">Mikasa</div>
                                <div class="card">
                                    <img src="https://m.media-amazon.com/images/I/91Ck00J98vL.jpg" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <p class="card-title">Balon de alta durabilidad</p>
                                        <p class="card-text"></p>
                                    </div>

                                </div>
                                <div class="text-end mt-2">
                                    <img src="/resources/images/comentarios.png" alt="..." width="20px" height="20px"
                                        class="me-3 comentarioB" data-bs-toggle="modal"
                                        data-bs-target="#modalComentarios">
                                        <img src="/resources/images/ocultarBtn.png" alt="..." class="me-3 botonOcultar">
                                    <img src="/resources/images/editarVerde.png" alt="..." class="me-3 botonActualizar">
                                    <img src="/resources/images/eliminar.png" alt="..." class="botonEliminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalAgregar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- header del modal -->
                    <div class="modal-header border-0">
                        <h1 class="modal-title fs-3 w-100 text-center" id="exampleModalLabel">Agregar un producto
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- cuerpo del modal -->
                    <div class="modal-body">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-12 mb-4 col-lg-6 col-md-12">
                                    <!--Label para guardar el id del administrador que ingresa el producto-->
                                    <label for="" id="id_administrador" hidden></label>
                                    <select class="form-select " aria-label="Default select example" id="categoriaP">
                                        <option selected>Categoría del producto</option>
                                        <option value="1">Categoria 1</option>
                                        <option value="2">Categoria 2</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="nombre_completo" class="form-control mb-2"
                                        placeholder="Nombre del producto:" id="nombre_producto">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6 col-md-12">
                                    <input type="descripcion" class="form-control mb-2"
                                        placeholder="Descripción  del producto:" id="descrip_producto">
                                </div>

                                <div class="col-12 col-lg-6">
                                    <input type="Precio" class="form-control mb-2" placeholder="Precio del producto:"
                                        id="precio_producto">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12 text-start col-lg-6 col-md-12">
                                    <label for="">Imagen del producto:</label>
                                    <input type="file" class="form-control mt-1" placeholder="Imagen del producto:"
                                        id="imagenP">


                                </div>

                                <div class="col-12 text-start mt-4 col-lg-6 col-md-12">
                                    <select class="form-select" aria-label="Default select example" id="categoriaP">
                                        <option selected>Estado del producto</option>
                                        <option value="1">En venta</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                                    <input type="descripcion" class="form-control mb-2"
                                        placeholder="Existencias del producto:" id="exist">
                                </div>

                                <div class="col-12 col-lg-6">
                                    <input type="Precio" class="form-control mb-2" placeholder="Descuento (Si aplica):"
                                        id="desc">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- footer del modal -->
                    <div class="modal-footer border-0">
                        <button type="button" class="btn agregar btn-secondary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal para la gestión de comentarios-->
        <div class="modal fade" id="modalComentarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center align-items-center header1">
                        <img src="/resources/images/comentario.png" alt="..." width="100px" height="100px"
                            class="mx-auto" data-bs-dismiss="modal" id="botonCerrarComen">
                        <img src="/resources/images/logoAcademiaBP.png" alt="..." width="100px" height="100px"
                            class="mx-auto" data-bs-dismiss="modal" id="botonCerrarComen2">
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center mb-4">Sección de comentarios</h5>
                        <div class="container text-center">
                            <div class="row">

                                <div class="col col-lg-12 col-md-12">
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <img src="/resources/images/mochila.png" alt="..." class="imaegnProducto rounded-3">

                                    <div id="inputLaberls" class="col-lg-6">
                                        <label for="nombreProducto" name="nombreProducto" id="nombreProducto"
                                            class="fw-bold">
                                            Mochila didáctica
                                        </label>
                                        <br>
                                        <label for="descripcionProducto" class="mt-5" name="descripcionProducto"
                                            id="descripcionProducto">
                                            Mochila negra, para llevar a todos lados
                                        </label>
                                    </div>
                                </div>

                                <!--Comntarios-->
                                <div class="scroll">
                                    <div class="mt-2 text-start contenedorComentario text-wrap">
                                        <div class="container text-start mt-2">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                        height="40px" class="imagenCliente mt-2">
                                                    <div class="text1 col-lg-4">
                                                        <span>AMLO</span>
                                                    </div>

                                                    <label for="fechacomentario" class="fechacomentario"
                                                        name="fechacomentario" id="fechacomentario">
                                                        09/09/2023
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comentarios">
                                            <label for="comentario" name="comentario"
                                                class="comentarioC mt-3 mx-1 mb-1 col-lg-12 com" id="comentario">Excelente producto! la tela y lo que lo compone es perfeccta para mi día a día. 
                                                Es súper cómodo llevarla y también es espaciosa para meter comida al cine </label>
                                        </div>

                                        <div class="comentarios mt-3">
                                            <label for="comentario" name="comentario"
                                                class="estadoComen mt-3 mx-3 mb-1 col-lg-12 d-inline">Estado del
                                                comentario:</label>

                                            <label for="comentario" name="comentario"
                                                class="comentario mt-3 mx-3 mb-1 col-lg-12 d-inline rounded-3 text-white activo"
                                                id="comentario">Activo</label>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-start contenedorComentario">
                                        <div class="container text-start mt-2">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                        height="40px" class="imagenCliente mt-2">
                                                    <div class="text1 col-lg-4">
                                                        <span>AMLO</span>
                                                    </div>

                                                    <label for="fechacomentario" class="fechacomentario"
                                                        name="fechacomentario" id="fechacomentario">
                                                        09/09/2023
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comentarios">
                                            <label for="comentario" name="comentario"
                                                class="comentarioC mt-3 mx-1 mb-1 col-lg-12 com" id="comentario">Producto
                                                muy
                                                bueno</label>
                                        </div>

                                        <div class="comentarios mt-3">
                                            <label for="comentario" name="comentario"
                                                class="estadoComen mt-3 mx-3 mb-1 col-lg-12 d-inline" id="comentario">Estado del
                                                comentario:</label>

                                            <label for="comentario" name="comentario"
                                                class="comentario mt-3 mx-3 mb-1 col-lg-12 d-inline rounded-3 text-white activo"
                                                id="comentario">Activo</label>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-start contenedorComentario">
                                        <div class="container text-start mt-2">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                        height="40px" class="imagenCliente mt-2">
                                                    <div class="text1 col-lg-4">
                                                        <span>AMLO</span>
                                                    </div>

                                                    <label for="fechacomentario" class="fechacomentario"
                                                        name="fechacomentario" id="fechacomentario">
                                                        09/09/2023
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comentarios">
                                            <label for="comentario" name="comentario"
                                                class="comentarioC mt-3 mx-1 mb-1 col-lg-12 com" id="comentario">Producto
                                                muy
                                                bueno</label>
                                        </div>

                                        <div class="comentarios mt-3">
                                            <label for="comentario" name="comentario"
                                                class="estadoComen mt-3 mx-3 mb-1 col-lg-12 d-inline" id="comentario">Estado del
                                                comentario:</label>

                                            <label for="comentario" name="comentario"
                                                class="comentario mt-3 mx-3 mb-1 col-lg-12 d-inline rounded-3 text-white inactivo"
                                                id="comentario">Inactivo</label>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-start contenedorComentario">
                                        <div class="container text-start mt-2">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                        height="40px" class="imagenCliente mt-2">
                                                    <div class="text1 col-lg-4">
                                                        <span>AMLO</span>
                                                    </div>

                                                    <label for="fechacomentario" class="fechacomentario"
                                                        name="fechacomentario" id="fechacomentario">
                                                        09/09/2023
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comentarios">
                                            <label for="comentario" name="comentario"
                                                class="comentarioC mt-3 mx-1 mb-1 col-lg-12 com" id="comentario">Producto
                                                muy
                                                bueno</label>
                                        </div>

                                        <div class="comentarios mt-3">
                                            <label for="comentario" name="comentario"
                                                class="estadoComen mt-3 mx-3 mb-1 col-lg-12 d-inline" id="comentario">Estado del
                                                comentario:</label>

                                            <label for="comentario" name="comentario"
                                                class="comentario mt-3 mx-3 mb-1 col-lg-12 d-inline rounded-3 text-white activo"
                                                id="comentario">Activo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <script src="/controllers/admin/index.js"></script>
    <script src="/controllers/admin/productos.js"></script>
</body>

</html>