
.custom-rounded {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

/* Estilo para remover el subrayado de los enlaces */
a {
text-decoration: none;
}

.bi{
    color: #408840;
}

.fa-solid{
  color: #408840;
}


.fas{
  color: #408840;
}





.card-img-top{
    border-radius: 20px; 
}


#inicio{
  margin-top: 7%;
}

.m-0{
border: radius 80px; 
}

.btn-primary{
  border: none; 
  background-color: white;
}

.btn-primary:hover{
  animation: none;
  background-color: white;
}

.btn-secondary{
  background-color: #408840;
  width: 200px;
}
