@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.estado-activo {
    color: green;
}

.btn-secondary {
    background-color: #408840;
    width: 200px;
}


@media only screen and (max-width:6000px) {
    #horario {
        color: black;
        background-color: white;
    }
}

@media (max-width: 800px) {
    .card {
        width: 550px;
        height: 220px;
    }

    #cardDiasPagos{
        margin-right: 170px;
    }
    #cardsAlumnos{
        width: 130%;
    }

    #content1{
        width: 120%;
    }
}

@media (max-width: 800px) {
    .btn.btn-sm {
        margin-left: auto;
        width: 45px;
        height: 30px;
    }
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 24.1px;
    /* Ajustamos este valor para mover el icono a la derecha */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #000;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s ease;
}

.buscador:hover .search-icon {
    opacity: 1;
    /* Mostrar icono al hacer hover */
}

#Buscador,
#Buscador2 {
    padding-left: 29px;
    /* Aumenta el padding para dejar espacio suficiente para el icono */
    width: 100%;
    /* Ajusta el ancho del input según el contenedor */
}


#sidebar {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


#contenedorPrin {
    width: 65%;
}

.card-title {
    color: #408840;
}

.btn-secondary {
    background-color: #408840;
    width: 200px;
}

.scrollable-content1 {
    max-height: 580px;
    /* Define la altura máxima del div scroll */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
    overflow-x: hidden;
    /* Deshabilita el desplazamiento horizontal */
}

#content1{
    max-height: 660px;
    /* Define la altura máxima del div scroll */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
    overflow-x: hidden;
}

.scrollable-cards {
    max-height: 400px;
    /* Define la altura máxima del div scroll */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
    overflow-x: hidden;
    /* Deshabilita el desplazamiento horizontal */
}

.buscador {
    position: relative;
    width: 85px;
    /* Ancho inicial del contenedor */
    transition: width .7s ease;
    /* Transición para el cambio de ancho */
    padding: 15px;
}

.busc {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    /* Ancho inicial del input */
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0;
    /* Hacer el input invisible inicialmente */
    transition: opacity .7s ease;
    /* Transición para la visibilidad */
}

.buscador:hover .busc {
    opacity: 1;
    /* Mostrar el input al hacer hover */
}

::placeholder {
    color: grey;
    font-size: 9px;
}

.btna {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: #000000;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    /* Asegurar que el botón esté sobre el input */
}

.btna i {
    font-size: 20px;
    color: white;
    line-height: 60px;
    transition: all .1s ease;
}

.buscador:hover {
    width: 380px;
    /* Ancho expandido del contenedor al hacer hover */
}

.btna:hover {
    background: #000000;
}


.status-circle {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    top: 10px;
    right: 10px;
}

.activo {
    background-color: rgb(7, 173, 7);
}

.inactivo {
    background-color: rgb(191, 5, 5);
}

@media (max-width: 768px) {
    .status-circle {
        width: 5vw;
        height: 5vw;
    }
}

@media (max-width: 480px) {
    .status-circle {
        width: 7vw;
        height: 7vw;
    }
}