.custom-rounded {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}


/* Estilo para remover el subrayado de los enlaces */
a {
text-decoration: none;
}

.bi{
    color: #408840;
}

.fa-solid{
  color: #408840;
}


.fas{
  color: #408840;
}


.card-clickable {
  cursor: pointer;
}


.card-img-top{
    border-radius: 20px; 
}


#inicio{
  margin-top: 7%;
}

.m-0{
border: radius 80px; 
}

.btn-primary{
  border: none; 
  background-color: white;
}

.btn-primary:hover{
  animation: none;
  background-color: white;
}

.agregar{
  background-color: #408840;
  width: 200px;
}


#Edproducto{
  color: black;
  background-color: white;
}

.btn-secondary{
  background-color: #408840;
  width: 200px;
}

.comentarioB,
.botonOcultar,
.botonEliminar,
.botonActualizar,
.activo,
.inactivo{
  cursor: pointer;
}

.fa-star {
  color: #ffd700;
  font-size: 10px;
  transform: translate(500%,-250%);
}


#inputLaberls{
  display: inline-block;
}

.contenedorComentario {
  border: 2px solid #000000;
  border-radius: 10px;
}

.com{
  font-size: 10px;
}

.header1{
  background-color: #000;
    height: 160px;
}

.imaegnProducto{
  float: left;
  margin-right: 10px;
}


.text1{
  transform: translate(100%, -150%);
}

.activo{
  background-color: #28a745;
}

.inactivo{
  background-color: #080752;
}

#Buscador,
#Buscador2 {
  padding-left: 29px; /* Aumenta el padding para dejar espacio suficiente para el icono */
  width: 100%; /* Ajusta el ancho del input según el contenedor */
}

.position-relative {
  position: relative;
}

.scrollable-content{
  max-height: 590px;
  overflow-y: auto;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 24.1px; /* Ajustamos este valor para mover el icono a la derecha */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #000;
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease;
}

.buscador:hover .search-icon {
  opacity: 1; /* Mostrar icono al hacer hover */
}

.buscador {
  position: relative;
  width: 85px; /* Ancho inicial del contenedor */
  transition: width .7s ease; /* Transición para el cambio de ancho */
  padding: 15px;
}

.busc {
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 100%; /* Ancho inicial del input */
  padding: 0 20px;
  color: #000;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #000000;
  opacity: 0; /* Hacer el input invisible inicialmente */
  transition: opacity .7s ease; /* Transición para la visibilidad */
}

.buscador:hover .busc {
  opacity: 1; /* Mostrar el input al hacer hover */
}

::placeholder {
  color: grey;
  font-size: 11.5px;
}

.btna {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: #000000;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 1; /* Asegurar que el botón esté sobre el input */
}

.btna i {
  font-size: 20px;
  color: white;
  line-height: 60px;
  transition: all .1s ease;
}

.buscador:hover {
  width: 340px; /* Ancho expandido del contenedor al hacer hover */
}

.btna:hover {
  background: #000000;
}

.color-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: 1px solid #000;
}


@media (min-width: 768px) and (max-width: 992px) {
  .fa-star {
    color: #ffd700;
    font-size: 10px;
    transform: translate(-90%,-250%);
  }
  .text1{
    transform: translate(30%, -150%);
  }

  .imaegnProducto{
    margin-left: 130px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .fa-star {
    color: #ffd700;
    font-size: 10px;
    transform: translate(-90%,-850%);
  }
  .text1{
    transform: translate(20%, -150%);
  }
  .imaegnProducto{
    margin-left: 130px;
  }
}

@media (min-width: 424px) and (max-width: 576px) {
  .fa-star {
    color: #ffd700;
    font-size: 10px;
    transform: translate(-90%,-850%);
  }
  .text1{
    transform: translate(20%, -150%);
  }
  .imaegnProducto{
    margin-left:85px;
  }
}

@media (min-width: 374px) and (max-width: 424px) {
  .fa-star {
    color: #ffd700;
    font-size: 10px;
    transform: translate(-90%,-850%);
  }
  .text1{
    transform: translate(20%, -150%);
  }
  .imaegnProducto{
    margin-left:60px;
  }
}

@media (min-width: 319px) and (max-width: 374px) {
  .fa-star {
    color: #ffd700;
    font-size: 10px;
    transform: translate(-90%,-850%);
  }
  .text1{
    transform: translate(20%, -150%);
  }
  .imaegnProducto{
    margin-left:30px;
  }
}