@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #ffffff;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #00e231;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


.scrollable-content {
    height: 500px; /* Altura fija del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.contenedorStaff{
    border-radius: 20px;
}

#AgregarHora,
#AgregarLugar{
    background-color: #408844;
    color: #FFF;
}

.img-fluid{
    height: 100%;
}

.scrollable-cards {
    max-height: 400px; /* Define la altura máxima del div scroll */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: hidden; /* Deshabilita el desplazamiento horizontal */
}


@media (min-width: 768px) and (max-width: 992px) {
    .img-fluid{
        height: 200px;
        margin-top: 30px;
        width: 100%;

    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .img-fluid{
        height: 170px;
        margin-top: 50px;
        width: 100%;
    }
}

@media (min-width: 424px) and (max-width: 576px) {
    .img-fluid{
        height: 140px;
        margin-top: 50px;
        width: 100%;
    }
}


@media (min-width: 374px) and (max-width: 424px) {
    .imagenContenedor{
        display: none;
    }

    
}

@media (min-width: 200px) and (max-width: 374px) {
    .imagenContenedor{
        display: none;
    }

    
}

.buscador {
    position: relative;
    width: 80px; /* Ancho inicial del contenedor */
    transition: width .7s ease; /* Transición para el cambio de ancho */
    padding: 15px;
}

.busc {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 100%; /* Ancho inicial del input */
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0; /* Hacer el input invisible inicialmente */
    transition: opacity .7s ease; /* Transición para la visibilidad */
}

::placeholder {
    color: grey;
}

.btna {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: #000000;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 1; /* Asegurar que el botón esté sobre el input */
}

.btna i {
    font-size: 20px;
    color: white;
    line-height: 60px;
    transition: all .1s ease;
}

.buscador:hover {
    width: 340px; /* Ancho expandido del contenedor al hacer hover */
}

.buscador:hover .busc {
    opacity: 1; /* Mostrar el input al hacer hover */
}

.buscador:hover i {
    transform: rotate(-360deg);
}

.btna:hover {
    background: #000000;
}

.rounded-circle{
    width: 120px; 
    height: 120px; 
    object-fit: cover;
}

.position-relative {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 45%;
    left: 24.1px; /* Ajustamos este valor para mover el icono a la derecha */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #000;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease;
}

.buscador:hover .search-icon {
    opacity: 1; /* Mostrar icono al hacer hover */
}

#Buscador,
#Buscador2 {
    padding-left: 29px; /* Aumenta el padding para dejar espacio suficiente para el icono */
    width: 100%; /* Ajusta el ancho del input según el contenedor */
}

.btn-secondary {
    background-color: #408840;
    width: 200px;
}

.buscador {
    position: relative;
    width: 85px; /* Ancho inicial del contenedor */
    transition: width .7s ease; /* Transición para el cambio de ancho */
    padding: 15px;
}

.busc {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 100%; /* Ancho inicial del input */
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000000;
    opacity: 0; /* Hacer el input invisible inicialmente */
    transition: opacity .7s ease; /* Transición para la visibilidad */
}

.buscador:hover .busc {
    opacity: 1; /* Mostrar el input al hacer hover */
}

::placeholder {
    color: grey;
    font-size: 12.5px;
}

.btna {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: #000000;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 1; /* Asegurar que el botón esté sobre el input */
}

.btna i {
    font-size: 20px;
    color: white;
    line-height: 60px;
    transition: all .1s ease;
}

.buscador:hover {
    width: 340px; /* Ancho expandido del contenedor al hacer hover */
}

.btna:hover {
    background: #000000;
}
