html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 710px;
}

#calendar {
    border: 3px solid #000;
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
}

#columaCards {
    display: none;
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: #408840;
    background-color: transparent !important;
}

.chart-container {
    width: 100%;
    max-width: 410px;
    margin: auto;
}

.chart-container2 {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

canvas {
    max-width: 110%;

}
