.contenedor {
    height: 400px; /* Ajusta la altura según tus necesidades */
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
 }
 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




  .estado-activo td{
    color: green;
  }
  .estado-inactivo {
    color: red;
  }


  .table-search {
    display: flex;
    justify-content: center;
    
}

.card {
    background-color: #f8f8f8ce; 
}

a{
    text-decoration: underline;
}



.card {
    margin: 7px;
    flex: 1; /* Hace que las cards ocupen todo el espacio disponible */
    border: 2px solid rgba(171, 164, 164, 0.1); /* Borde borroso */
    border-radius: 17px; /* Borde redondeado */
}

.card-body {
    padding:7px; /* Espacio interior de la card */
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las tarjetas */
    max-width: 100%; /* Ancho máximo del contenedor */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
}

#cardDiasPagos {
    flex: 1; /* Distribuir el espacio de manera uniforme entre las tarjetas */
    min-width: 300px; /* Ancho mínimo de las tarjetas */
    max-width: 400px; /* Ancho máximo de las tarjetas */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    margin-top: 20px;
}
th,
#tableBody,
#tableBody2{
    font-size: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #007bff; /* Color azul */
    text-decoration: underline;
}

button:hover {
    color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}


/* Clase para el estado de pago "Pagado" */
.pagado {
    background-color: green;
    color: green;
}

/* Clase para el estado de pago "Pendiente de pago" */
.pendiente {
    background-color: red;
    color: red;
}

.barra-azul {
    width: 200px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: rgb(0, 0, 0);
}

.barra-naranja {
    width: 200px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: rgb(7, 1, 127);
}

.barra-roja {
    width: 200px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: rgb(29, 108, 5);
}

/* Estilo adicional para eliminar el borde y manejar el grosor de la barra */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

input[type=range]::-moz-range-thumb {
    width: 0;
    height: 0;
}

.titulo-card {
    font-size: 1.4rem;
}

#contenedor1{
    max-height: 190px;
    overflow-x: auto;
}

#contenedor2{
    max-height: 210px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .titulo-card{
        font-size: 15px;
    }
}

