#scroll{
    overflow: auto; 
    max-height: 420px;
}

.position-relative {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

#Search {
    padding-left: 35px;
    width: 680px;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  #sidebar {
  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  main {
    margin-top: 50px;
  }

  #contenedorPrin{
    width: 65%;
  }