<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Link para las estrellitas en la valoración de productos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/resources/css/compras.css">

</head>

<body>

    <header>

    </header>

    <main>
        <h3 class="text-center">Mis compras</h3>

        <!-- buscador -->
        <div class="row">
            <div class="col-6">
                <div class="buscador">
                    <input class="busc light-table-filter" data-table="order-table" type="text" placeholder="Buscar">
                    <div class="btna">
                        <i class="fa fa-search"><ion-icon name="search-outline"></ion-icon></i>
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>
        <!-- fin buscador -->

        <!--Card con la informacion de la compra-->
        <div class="d-flex justify-content-center text-center mt-4">
            <div class="card col-lg-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-3">
                            <img src="/resources/images/imagenTmochilas.png" class="card-img mt-4 mb-4" alt="..."
                                height="240px">
                        </div>
                        <div class="col col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Compra número 000000</h5>
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col col-lg-3">
                                            <label for="fechaCompra" class="form-label fw-bold">Producto
                                                adquirido:</label>
                                            <label for="fechaCompra" class="form-label">Mochila</label>
                                        </div>
                                        <div class="col col-lg-4">
                                            <label for="fechaCompra" class="form-label fw-bold">Fecha de compra:</label>
                                            <label for="fechaCompraD" class="form-label">00/00/0000</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="cantidadP" class="form-label fw-bold">Cantidad de
                                                productos:</label>
                                            <label for="cantidadPD" class="form-label">4</label>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col col-lg-3">
                                            <label for="totalPagado" class="form-label fw-bold">Total pagado:</label>
                                            <label for="totalPagadoD" class="form-label">$30.00</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="estadoOrden" class="form-label fw-bold">Estado de la
                                                orden:</label>
                                            <label for="estadoOrdenD" class="form-label">Entregada</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="direccion" class="form-label fw-bold">Dirección:</label>
                                            <label for="direccionD" class="form-label">Instituto Tecnico
                                                Ricaldone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Botón para valorar la compra dentro de la tarjeta -->
                        <div class="col col-lg-1 d-flex justify-content-end align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h5 class="mx-5 tituloValoracion">Dar mi valoración</h5>
                                <button type="button" class="btn btnMostrarModalVa" data-bs-toggle="modal"
                                    data-bs-target="#modalValorar">
                                    <img src="/resources/images/valorarP.png" alt="..." width="60px" height="50px"
                                        class="mt-2">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center text-center mt-4">
            <div class="card col-lg-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-3">
                            <img src="/resources/images/imagenTmochilas.png" class="card-img mt-4 mb-4" alt="..."
                                height="240px">
                        </div>
                        <div class="col col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Compra número 000000</h5>
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col col-lg-3">
                                            <label for="fechaCompra" class="form-label fw-bold">Producto
                                                adquirido:</label>
                                            <label for="fechaCompra" class="form-label">Mochila</label>
                                        </div>
                                        <div class="col col-lg-4">
                                            <label for="fechaCompra" class="form-label fw-bold">Fecha de compra:</label>
                                            <label for="fechaCompraD" class="form-label">00/00/0000</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="cantidadP" class="form-label fw-bold">Cantidad de
                                                productos:</label>
                                            <label for="cantidadPD" class="form-label">4</label>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col col-lg-3">
                                            <label for="totalPagado" class="form-label fw-bold">Total pagado:</label>
                                            <label for="totalPagadoD" class="form-label">$30.00</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="estadoOrden" class="form-label fw-bold">Estado de la
                                                orden:</label>
                                            <label for="estadoOrdenD" class="form-label">Entregada</label>
                                        </div>
                                        <div class="col col-lg-3">
                                            <label for="direccion" class="form-label fw-bold">Dirección:</label>
                                            <label for="direccionD" class="form-label">Instituto Tecnico
                                                Ricaldone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Botón para valorar la compra dentro de la tarjeta -->
                        <div class="col col-lg-1 d-flex justify-content-end align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h5 class="mx-5 tituloValoracion">Dar mi valoración</h5>
                                <button type="button" class="btn btnMostrarModalVa" data-bs-toggle="modal"
                                    data-bs-target="#modalValorar">
                                    <img src="/resources/images/valorarP.png" alt="..." width="60px" height="50px"
                                        class="mt-2">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <p class="text-center mt-3" id="noResultsMessage">
            <img src="/resources/images/advertencia.png" alt="Advertencia" width="50px" height="50px"> No se ha
            encontrado ninguna compra
        </p>

        <!--Modal para valorar productos-->
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="modalValorar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center align-items-center">
                        <img src="/resources/images/comentario.png" alt="..." width="100px" height="100px"
                            class="mx-auto" data-bs-dismiss="modal" id="botonCerrar">
                        <img src="/resources/images/logoAcademiaBP.png" alt="..." width="100px" height="100px"
                            class="mx-auto" data-bs-dismiss="modal" id="botonCerrar2">
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">¡Dale una valoración a este producto!</h5>
                        <p class="text-center">Tu opinión nos será de mucha utilidad para que las personas quieran
                            adquirir este producto. </p>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col col-lg-12">
                                    <input type="hidden" id="iddetalleOrden" name="iddetalleOrden">
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <div class="rating">
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>

                                    </div>
                                    <input class="mt-3" type="text" name="texto" id="texto" readonly>
                                </div>
                                <div class="col col-lg-12 mt-2 mb-4">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Agrega tu comentario</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btnEnviarValoracion">
                                        <img src="/resources/images/enviarValoracion.png" alt="..." width="40px"
                                            height="40px">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-5">

    </footer>
    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> <!--Carrusel-->
    <!--Aqui se encuentra el controlador para la ventana Mis Compras,
    aqui estarán los datos que irán en la cards, la barra de busqueda,
    el relleno de estrellas y
    el pop up de la imagen para cerrar la modal de valorar productos-->
    <script src="/controllers/public/compras.js"></script>

    <!--Plantillas para header y footer-->
    <script src="/resources/js/headerPublico.js"></script>
    <script src="/resources/js/footerPublico.js"></script>
</body>

</html>