header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .imagenUser{
    cursor: pointer;
  }
  
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .end-0 {
    right: 0;
  }

  .lupa {
    transform: translate(-120%, 10%);
  }

  .textoBuscar {
    width: 350px;
  }
  
  .conteNav {
    background-color: #408840;
  }

  main {
    margin-top: 220px;
  
  }


  .contenedorTotal{
    border-radius: 15px;
    border: 2px solid #408840;
    
  }

  .botonpagar{
    background-color: #408840;
    color: #fff;
  }

  footer {
    background-color: #408840;
    color: #fff;
  }
  
  .aa{
    text-decoration: none;
    color: #fff;
  }
  
  .filaCopy {
    border-top: 1px solid #fff;
  }

  .incrementBtn,
  .decrementBtn{
    background-color: #408840;
    color: #fff;
  }

  .buscador {
    position: absolute;
    left: 85%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.busc{
    outline: none;
    box-sizing: border-box;
    height: 30px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #408340;
    transition: all .7s ease;
}

::placeholder{
    color: grey;
}

.btna {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  position: absolute;
  right: 0;
  top: 2.8px;
  width: 60px;
  height: 58px;
  background: #408340;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btna i {
  font-size: 20px;
  color: white;
  transition: all .1 ease;
}

.buscador:hover input{
    width: 340px;
}

.buscador:hover i{
    transform: rotate(-360deg);
}

.btna:hover{
    background: #4fa34f;
}
  