header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 220px;

}

.conteNav {
    background-color: #408840;
}

.nav-item {
    font-size: 13px;
}


.lupa {
    transform: translate(-120%, 10%);
}

#noResultsMessage,
#imageError {
    display: none;
}

#imageError {
    vertical-align: middle;
    margin-right: 10px;
}

.btnMostrarModalVa,
.tituloValoracion,
.tituloDevolucion,
.btnDevolucion{
    display: none;
}

footer {
    background-color: #408840;
    color: #fff;
}

.modal-header {
    background: linear-gradient(to right, #04B704, #408340);
    height: 160px;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.star {
    font-size: 32px;
    color: gray;
    transition: color 0.1s;
    cursor: pointer;
}

#texto {
    border: none;
    text-align: center;
}

.star:hover,
.star.checked {
    color: #408840;
}

.popover-header,
.modal-header,
.modal-footer {
    background-color: #408840;
    color: #fff;
}


.popover-body {
    background-color: #000;
    color: #fff;
}


.btnEnviarValoracion {
    background: linear-gradient(to right, #04B704, #408340);
    border-radius: 10px;
    width: 70px;
}

.filaCopy {
    border-top: 1px solid #fff;
}

.nu {
    border: 4px solid #000;
}

.aa {
    text-decoration: none;
    color: #fff;
}


/*buscador propio de compras*/
.buscador {
    position: absolute;
    left: 50%;
    top: 46.5%;
    transform: translate(-50%, -85%);
    padding: 15px;
}

.busc {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #408340;
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.btna {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #408340;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btna i {
    font-size: 20px;
    color: white;
    line-height: 80px;
    transition: all .1 ease;
}

.buscador:hover input {
    width: 340px;
}

.buscador:hover i {
    transform: rotate(-360deg);
}

.btna:hover {
    background: #4fa34f;
}


@media (min-width:1200px) and (max-width: 1281px) {
    .buscador {
        position: absolute;
        left: 50%;
        top: 46.5%;
        transform: translate(-50%, -120%);
        padding: 15px;
    }
    footer{
        height: 25vh;
    }
}


@media (min-width:768px) and (max-width: 992px) {

    /*buscador propio de compras*/
    .buscador {
        position: absolute;
        left: 50%;
        top: 46.5%;
        transform: translate(-50%, -310%);
        padding: 15px;
    }

    footer{
        height: 25vh;
    }
}


@media (min-width:576px) and (max-width: 768px) {

    main{
        margin-top: 250px;
    }

    /*buscador propio de compras*/
    .buscador {
        position: absolute;
        left: 50%;
        top: 46.5%;
        transform: translate(-50%, -210%);
        padding: 15px;
    }

    .card-img{
        margin-left: 40px;

    }   

    .contenedorVCal{
        margin-left: 20px;
    }
}


@media (min-width:390px) and (max-width: 576px) {

    main{
        margin-top: 325px;
    }

    /*buscador propio de compras*/
    .buscador {
        position: absolute;
        left: 50%;
        top: 48.1%;
        transform: translate(-50%, -65%);
        padding: 15px;
    }
}



@media (min-width:263px) and (max-width: 390px) {

    main{
        margin-top: 350px;
    }

    /*buscador propio de compras*/
    .buscador {
        position: absolute;
        left: 50%;
        top: 46.5%;
        transform: translate(-50%, 75%);
        padding: 15px;
    }
}