/* Estilos para el header fijo en la parte superior */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el margen superior del main */
main {
    margin-top: 220px;
}

/* Estilos para el fondo del contenedor de navegación */
.conteNav {
    background-color: #408840;
}

/* Estilos para elementos de navegación */
.nav-item {
    font-size: 13px;
}

/* Estilos para mensajes de error y elementos ocultos */
#noResultsMessage,
#imageError {
    display: none;
}

/* Estilos específicos para el mensaje de error de imagen */
#imageError {
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilos para el placeholder en inputs */
::placeholder {
    font-size: 13px;
}

/* Estilos para botones y elementos de modal ocultos */
.btnMostrarModalVa,
.tituloValoracion,
.tituloDevolucion,
.btnDevolucion {
    display: none;
    border: none;
}

/* Estilos para el footer y botones increment/decrement */
footer,
.incrementBtn,
.incrementBtn:hover,
.incrementBtn:focus {
    background-color: #408840;
    color: #fff;
}

.decrementBtn,
.decrementBtn:hover,
.decrementBtn:focus {
    background-color: #04B704;
    color: #fff;
}

/* Estilos para el encabezado del modal con gradiente */
.modal-header {
    background: linear-gradient(to right, #04B704, #408340);
    height: 160px;
}

/* Estilos para el contenedor de estrellas y su disposición */
.rating {
    display: flex;
    justify-content: space-between;
}

/* Estilos para las estrellas de valoración */
.star {
    font-size: 32px;
    color: gray;
    transition: color 0.1s;
    cursor: pointer;
}

/* Estilos para las estrellas al pasar el ratón o seleccionadas */
.star:hover,
.star.checked {
    color: #408840;
}

/* Estilos para el popover y cuerpos de modal */
.popover-header,
.modal-header,
.modal-footer {
    background-color: #408840;
    color: #fff;
}

.popover-body {
    background-color: #000;
    color: #fff;
}

/* Estilos para el botón de enviar valoración */
.btnEnviarValoracion {
    background: linear-gradient(to right, #04B704, #408340);
    border-radius: 10px;
    width: 70px;
}

/* Estilos para la fila de copia con borde superior */
.filaCopy {
    border-top: 1px solid #fff;
}

/* Estilos para el enlace AA */
.aa {
    text-decoration: none;
    color: #fff;
}

/* Estilos para un buscador personalizado */
.buscador {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110%;
    max-width: 500px;
    margin: auto;
}

/* Estilos para el campo de búsqueda */
.busc {
    flex-grow: 1;
    padding: 10px 40px; /* Ajusta el padding para dejar espacio para el ícono */
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 20px;
}

/* Estilos para el ícono de búsqueda */
.search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para el botón de búsqueda */
.btna {
    position: absolute;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btna i {
    color: white;
}

/* Ajustes responsivos para tamaños de pantalla específicos */
@media (min-width: 992px) and (max-width: 1281px) {
    footer {
        height: 25vh;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    footer {
        height: 25vh;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    main {
        margin-top: 250px;
    }

    .card-img {
        margin-left: 40px;
    }

    .contenedorVCal {
        margin-left: 20px;
    }
}

@media (min-width: 390px) and (max-width: 576px) {
    main {
        margin-top: 325px;
    }
}

@media (min-width: 263px) and (max-width: 390px) {
    main {
        margin-top: 330px;
    }
}
