  /* Estilo para el encabezado fijo */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  main {
    margin-top: 220px;

  }

  .conteNav {
    background-color: #408840;
  }

  .nav-item {
    font-size: 13.9px;
  }

  .carruselAliados .img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    border-radius: 55%;
    margin-left: 55px;

  }

  .flechregre {
    left: 0; /* Mueve la flecha de navegación previa a la izquierda */
}

.flechaVer {
    right: 0; /* Mueve la flecha de navegación siguiente a la derecha */
}

  .card {
    height: 470px;
    border: 2px solid #408840;
    border-radius: 15px;
  }

  /*Ajustamos el cuerpo de la card para que no tenga ni un espacio, para que la imagen abarque toda la parte de arriba y los costados*/
  .card-body{
    padding: 0;
  }

  .imagenProfe{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }


  .imagenesE{
    width: 100%;
  }

  .i{
    background-color: #408840;
  }

  .carousel-caption-text {
    max-width: 700px; /* Ajusta el ancho máximo del contenedor del texto */
    margin: 0 auto; /* Centra horizontalmente el contenedor del texto */
}

  footer {
    background-color: #408840;
    color: #fff;
  }

  .filaCopy {
    border-top: 1px solid #fff;
  }

  .nu{
    border: 4px solid #000;
  }

  .aa{
    text-decoration: none;
    color: #fff;
  }

  /* Media query para pantallas de tamaño mediano */
@media (min-width: 576px) and (max-width: 992px) {
  main {
    margin-top: 250px;
  }


}

@media (min-width: 260px) and (max-width: 576px) {
  main {
    margin-top: 370px;
  }

.card{
  height: 600px;
  margin-top: 10px;
}
}