@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Estilo predeterminado la pantalla pagomensualidad*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

/* Estilo para el body de la pantalla pagomensualidad*/
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #9ed392);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 770px;
    max-width: 100%;
    min-height: 600px;
}

/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}

/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container span {
    font-size: 12px;
    letter-spacing: 0.5px;
}


/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container button {
    background-color: #338121;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

/* Estilo asociado al input dentro de la clase container de la pantalla pagomensualidad*/
.container input {
    border: none;
    margin: 8px 0;
    padding: 10px 0px;
    font-size: 12px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    box-shadow: none;
}

/* Estilo asociado al id categoria de la pantalla pagomensualidad*/
#categoria {
    border: none;
    margin: 8px 0;
    padding: 10px 0px;
    font-size: 12px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    box-shadow: none;
}


/* Estilo asociado a la clase form-container de la pantalla pagomensualidad*/
.form-container {
    top: 0;
    height: 100%;

}


/* Estilo asociado a la clase inscripcion de la pantalla pagomensualidad*/
.inscripcion {
    left: 0;
    width: 50%;
    z-index: 2;
}

/* Estilo asociado a la clase container de la pantalla pagomensualidad*/
.container.active .inscripcion {
    transform: translateX(-200%);
}

/* Estilo asociado a la clase toggle-container de la pantalla pagomensualidad*/
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px 0 0 100px;

}


/* Estilo asociado a la clase toggle de la pantalla pagomensualidad*/
.toggle {
    background-color: #338121;
    height: 100%;
    background: linear-gradient(to right, #56ac43, #348522);
    color: #fff;
    position: relative;
    left: -50%;
    height: 100%;
    width: 500%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


/* Estilo asociado a la clase toggle-panel de la pantalla pagomensualidad*/
.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    top: 0;

}



/* Estilo asociado a la clase toggle de la pantalla pagomensualidad*/
.toggle {
    display: flex;
    align-items: center;
    position: relative;
}

/* Estilo asociado a la clase toggle-image de la pantalla pagomensualidad*/
.toggle-image {
    position: absolute;
    top: 165px;
    right: 32%;
    /* Centrar horizontalmente */
    transform: translateX(-50%);
    /* Ajustar para centrar completamente */
}

/* Estilo asociado a la clase toggle img de la pantalla pagomensualidad*/
.toggle img {
    width: 250px;
    height: auto;
}

/* Estilos responsivos para pantallas pequeñas */
@media (min-width: 220px) and (max-width:268px) {
    body {
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #9ed392);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70vh;
        margin-top: 100px;
    }

    .container {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        max-width: 100%;

    }


    .inscripcion {
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .container span {
        font-size: 9px;
        letter-spacing: 0.5px;
    }

    h1 {
        margin-top: 10%;
        font-size: 18px;
    }

    .toggle {
        display: none;
    }

    .toggle-container {
        display: none;
    }

    .toggle-image {
        display: none;
    }
}

/* Estilos responsivos para pantallas medianas */
@media (min-width: 268px) and (max-width:500px) {
    body {
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #9ed392);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70vh;
        margin-top: 100px;
    }

    .container {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        max-width: 100%;

    }


    .inscripcion {
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .container span {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    .toggle {
        display: none;
    }

    .toggle-container {
        display: none;
    }

    .toggle-image {
        display: none;
    }
}

/* Estilos responsivos para pantallas grandes */
@media (min-width: 501px) and (max-width:790px) {
    body {
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #9ed392);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        margin-top: 130px;
    }

    .container {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        max-width: 100%;

    }

    .container span {
        font-size: 9.5px;
        letter-spacing: 0.5px;
    }

    h1 {
        font-weight: bold;
        font-size: 17px;
    }

    .inscripcion {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .toggle-image {
        position: absolute;
        transform: translateX(-50%);
    }
}


/* Estilos responsivos para pantallas mas grandes */
@media (min-width: 790px) and (max-width:900px) {
    body {
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #9ed392);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        margin-top: 130px;
    }

    .container {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        max-width: 100%;

    }

    .container span {
        font-size: 9.5px;
        letter-spacing: 0.5px;
    }

    h1 {
        font-weight: bold;
        font-size: 17px;
    }

    .inscripcion {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .toggle-image {
        position: absolute;
        transform: translateX(-30%);
    }
}