header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .imagenUser{
    cursor: pointer;
  }
  
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .end-0 {
    right: 0;
  }

  .lupa {
    transform: translate(-120%, 10%);
  }
  
  
  .textoBuscar {
    width: 350px;
  }
  
  .conteNav {
    background-color: #408840;
  }

  main {
    margin-top: 220px;
  
  }

  .formsPerfil,
  .formsContra{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
  }

  input:disabled {
    background-color: #ffffff; /* Cambia el color de fondo de los inputs deshabilitados a blanco */
    }

  .botonC{
    cursor: pointer;
  }

  .popover-header,
  .modal-header,
  .modal-footer {
    background-color: #408840;
    color: #fff;
}

.imagenCerarr,
.textito{
  display: inline-block;
}

a{
  text-decoration: none;
  color: #000;
}

.popover-body {
    background-color: #000;
    color: #fff;
}


  footer {
    background-color: #408840;
    color: #fff;
  }
  
  .aa{
    text-decoration: none;
    color: #fff;
  }
  
  .filaCopy {
    border-top: 1px solid #fff;
  }

  /* Media query para pantallas de tamaño grande*/
@media (min-width: 768px) and (max-width: 991px) {
    main {
      margin-top: 220px;
    }
  
    #textoCarrito{
      font-size: 10px;
    }
  }

    /* Media query para pantallas de tamaño grande*/
@media (min-width: 576px) and (max-width: 767px) {
    main {
      margin-top: 250px;
    }
  
    #textoCarrito{
      font-size: 10px;
    }

    
  }
    /* Media query para pantallas de tamaño grande*/
@media (min-width: 200px) and (max-width: 575px) {
    main {
      margin-top: 340px;
    }
  
    #textoCarrito{
      font-size: 10px;
    }
  }

  .buscador {
    position: absolute;
    left: 85%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.busc{
    outline: none;
    box-sizing: border-box;
    height: 30px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #408340;
    transition: all .7s ease;
}

::placeholder{
    color: grey;
}

.btna {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  position: absolute;
  right: 0;
  top: 2.8px;
  width: 60px;
  height: 58px;
  background: #408340;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btna i {
  font-size: 20px;
  color: white;
  transition: all .1 ease;
}

.buscador:hover input{
    width: 340px;
}

.buscador:hover i{
    transform: rotate(-360deg);
}

.btna:hover{
    background: #4fa34f;
}