header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagenUser {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.end-0 {
  right: 0;
}

.lupa {
  transform: translate(-120%, 10%);
}


.textoBuscar {
  width: 350px;
}

.conteNav {
  background-color: #408840;
  font-size: 13px;
}

main {
  margin-top: 220px;

}

.formsPerfil,
.formsContra {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding: 1%;
  background-color: transparent;
  box-shadow: none;
}

input:disabled {
  background-color: #ffffff;
  /* Cambia el color de fondo de los inputs deshabilitados a blanco */
}

.botonC {
  cursor: pointer;
}

.popover-header {
  background-color: #408840;
  color: #fff;
}

.imagenCerarr,
.textito {
  display: inline-block;
}

.modal-header {
  background: linear-gradient(to right, #04B704, #408340);
  height: 160px;
}

.modal-footer {
  background: linear-gradient(to right, #04B704, #408340);
}

a {
  text-decoration: none;
  color: #000;
}

.popover-body {
  background-color: #000;
  color: #fff;
}


footer {
  background-color: #408840;
  color: #fff;
}

.aa {
  text-decoration: none;
  color: #fff;
}

.filaCopy {
  border-top: 1px solid #fff;
}


#Actualizar,
#ModalContraseña {
  background-color: #408840;
  width: 250px;
}

.rounded-circle {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

#cerrarS {
  cursor: pointer;
}

#fotoInput {
  display: none;
}

#botonCargarFoto {
  width: 40px;
  height: 40px;
}

#cardAlumnos {
  border: none;
  max-height: 500px;
  overflow-y: auto;
}

#borderAlumnos {
  border: 2px solid #04B704;
}

#btnPagar {
  background-color: #408340;
  width: 100%;
  color: #fff;
}

/* Media query para pantallas de tamaño grande*/
@media (min-width: 768px) and (max-width: 991px) {
  main {
    margin-top: 220px;
  }

  #textoCarrito {
    font-size: 10px;
  }
}

/* Media query para pantallas de tamaño grande*/
@media (min-width: 576px) and (max-width: 767px) {
  main {
    margin-top: 250px;
  }

  #textoCarrito {
    font-size: 10px;
  }

  .fechaR {
    margin-left: 50px;
  }

}

/* Media query para pantallas de tamaño grande*/
@media (min-width: 200px) and (max-width: 576px) {
  main {
    margin-top: 340px;
  }

  #textoCarrito {
    font-size: 10px;
  }

  .textito {
    margin-bottom: 50px;
  }
}