/* Estilos para el body con display flex y dirección columna */
body {
    display: flex;
    flex-direction: column;
}

/* Estilos para las cards dentro del contenedor #productos */
#productos .card {
    height: 100%; /* Asegura que todas las cards tengan la misma altura */
}

/* Estilos para el cuerpo de las cards */
.card-body {
    flex-direction: column; /* Ajusta la dirección de los elementos hijos a columna */
}

/* Estilos para la imagen superior de las cards */
.card-img-top {
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    width: 90%; /* Anchura del 90% del contenedor */
    margin: auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el título principal #mainTitle */
#mainTitle {
    margin-top: 4rem; /* Margen superior de 4 rem */
}

/* Estilos para el botón #btnVermas */
#btnVermas {
    background-color: #408840; /* Color de fondo */
    color: #fff; /* Color del texto */
}
