<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Link para las estrellitas en la valoración de productos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/resources/css/carrito.css">
    <link rel="stylesheet" href="/resources/css/buscador.css">
</head>

<body>

    <header>

    </header>

    <main>

        <h3 class="text-center">Carrito de compras</h3>


        <!--Cometario-->
        <!--Card con la informacion de la compra-->
        <div class="d-flex justify-content-center text-center mt-4 " id="carrito-container">
            <div class="card col-lg-8 col-md-10 col-sm-10 col-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12 ">
                            <img src="/resources/images/imagenTmochilas.png" class="card-img mt-4 mb-4" alt="..."
                                height="220px">
                        </div>
                        <div class="col col-lg-8 col-md-6 col-12">
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row">
                                        <div
                                            class="col col-lg-6 col-md-6 col-sm-7 d-flex justify-content-center align-items-center mt-4 datosProducto">
                                            <div class="d-flex flex-column align-items-center ">

                                                <label for="nombreProducto" class="form-label fw-bold">Nombre del
                                                    producto:</label>
                                                <label id="nombreProducto">Mochila</label>

                                                <label for="cantidadProducto"
                                                    class="form-label fw-bold mt-4 col-sm-12">Cantidad
                                                    del producto:</label>
                                                <div class="input-group spinner mt-2">
                                                    <button class="btn decrementBtn" type="button"
                                                        id="decrementBtn">-</button>
                                                    <input type="text" class="form-control cantidadProducto" value="1"
                                                        readonly>
                                                    <button class="btn incrementBtn" type="button"
                                                        id="incrementBtn">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col col-lg-4 col-md-4 col-sm-5 d-flex justify-content-center align-items-center mt-4 datosProducto">
                                            <div class="d-flex flex-column align-items-center">
                                                <label for="PrecioProducto" class="form-label fw-bold">Precio del
                                                    producto:</label>
                                                <label for="PrecioProducto" class="form-label precioProducto"
                                                    id="precioProducto" data-precio-original="$50.00">$50.00</label>
                                                <label for="descuento" class="form-label fw-bold mt-2">Descuento del
                                                    producto:</label>
                                                <label for="descuentoProducto" class="form-label descuentoP"
                                                    id="descuentoP">$10.00</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Botón para valorar la compra dentro de la tarjeta -->
                        <div class="col col-lg-1 col-md-8 col-sm-8 col-9 d-flex justify-content-end align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h6 class="mx-5 tituloValoracion">Quitar</h6>
                                <button type="button" class="btn botonQuitarProducto" data-bs-toggle="modal"
                                    data-bs-target="#modalValorar">
                                    <img src="/resources/images/quitarproducto.png" alt="..." width="40px" height="40px"
                                        class="mt-1">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center text-center mt-4 " id="carrito-container">
            <div class="card col-lg-8 col-md-10 col-sm-10 col-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                            <img src="/resources/images/imagenTmochilas.png" class="card-img mt-4 mb-4" alt="..."
                                height="220px">
                        </div>
                        <div class="col col-lg-8 col-md-6 col-12">
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row">
                                        <div
                                            class="col col-lg-6 col-md-6 col-sm-7 d-flex justify-content-center align-items-center mt-4">
                                            <div class="d-flex flex-column align-items-center datosProducto">

                                                <label for="nombreProducto" class="form-label fw-bold">Nombre del
                                                    producto:</label>
                                                <label id="nombreProducto">Mochila</label>

                                                <label for="cantidadProducto"
                                                    class="form-label fw-bold mt-4 col-sm-12">Cantidad
                                                    del producto:</label>
                                                <div class="input-group spinner mt-2">
                                                    <button class="btn decrementBtn" type="button"
                                                        id="decrementBtn">-</button>
                                                    <input type="text" class="form-control cantidadProducto" value="1"
                                                        readonly>
                                                    <button class="btn incrementBtn" type="button"
                                                        id="incrementBtn">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col col-lg-4 col-md-4 col-sm-5 d-flex justify-content-center align-items-center mt-4 datosProducto">
                                            <div class="d-flex flex-column align-items-center">
                                                <label for="PrecioProducto" class="form-label fw-bold">Precio del
                                                    producto:</label>
                                                <label for="PrecioProducto" class="form-label precioProducto"
                                                    id="precioProducto" data-precio-original="$50.00">$50.00</label>
                                                <label for="descuento" class="form-label fw-bold mt-2">Descuento del
                                                    producto:</label>
                                                <label for="descuentoProducto" class="form-label descuentoP"
                                                    id="descuentoP">$10.00</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Botón para valorar la compra dentro de la tarjeta -->
                        <div class="col col-lg-1 col-md-8 col-sm-8 col-9 d-flex justify-content-end align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h6 class="mx-5 tituloValoracion">Quitar</h6>
                                <button type="button" class="btn botonQuitarProducto" data-bs-toggle="modal"
                                    data-bs-target="#modalValorar">
                                    <img src="/resources/images/quitarproducto.png" alt="..." width="40px" height="40px"
                                        class="mt-1">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center text-center mt-4 " id="carrito-container">
            <div class="card col-lg-8 col-md-10 col-sm-10 col-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                            <img src="/resources/images/imagenTmochilas.png" class="card-img mt-4 mb-4" alt="..."
                                height="220px">
                        </div>
                        <div class="col col-lg-8 col-md-6 col-12">
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row">
                                        <div
                                            class="col col-lg-6 col-md-6 col-sm-7 d-flex justify-content-center align-items-center mt-1 datosProducto">
                                            <div class="d-flex flex-column align-items-center ">

                                                <label for="nombreProducto" class="form-label fw-bold">Nombre del
                                                    producto:</label>
                                                <label id="nombreProducto">Mochila</label>

                                                <label for="cantidadProducto"
                                                    class="form-label fw-bold mt-4 col-sm-12">Cantidad
                                                    del producto:</label>
                                                <div class="input-group spinner mt-2">
                                                    <button class="btn decrementBtn" type="button"
                                                        id="decrementBtn">-</button>
                                                    <input type="text" class="form-control cantidadProducto" value="1"
                                                        readonly>
                                                    <button class="btn incrementBtn" type="button"
                                                        id="incrementBtn">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col col-lg-4 col-md-4 col-sm-5 d-flex justify-content-center align-items-center mt-1 datosProducto">
                                            <div class="d-flex flex-column align-items-center">
                                                <label for="PrecioProducto" class="form-label fw-bold">Precio del
                                                    producto:</label>
                                                <label for="PrecioProducto" class="form-label precioProducto"
                                                    id="precioProducto" data-precio-original="$50.00">$50.00</label>
                                                <label for="descuento" class="form-label fw-bold mt-2">Descuento del
                                                    producto:</label>
                                                <label for="descuentoProducto" class="form-label descuentoP"
                                                    id="descuentoP">$10.00</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Botón para valorar la compra dentro de la tarjeta -->
                        <div class="col col-lg-1 col-md-8 col-sm-8 col-9 d-flex justify-content-end align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h6 class="mx-5 tituloValoracion">Quitar</h6>
                                <button type="button" class="btn botonQuitarProducto" data-bs-toggle="modal"
                                    data-bs-target="#modalValorar">
                                    <img src="/resources/images/quitarproducto.png" alt="..." width="40px" height="40px"
                                        class="mt-1">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-start w-100 mt-2 contenedorTotal">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="d-flex justify-content-between align-items-center mt-4 w-100">
                        <h6 class="mb-0 mx-5">Sub total de la compra:</h6>
                        <label for="SubTotalCompra" class="mb-0 mx-5" id="subtotal"></label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4 w-100">
                        <h6 class="mb-0 mx-5">Descuento aplicado a la compra:</h6>
                        <label for="SubTotalCompra" class="mb-0 mx-5" id="descuento"></label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4 w-100 mb-4">
                        <h6 class="mb-0 mx-5">Total a pagar:</h6>
                        <label for="SubTotalCompra" class="mb-0 mx-5" id="total"></label>
                    </div>
                </div>

                <div id="contenedorBoton" class="mb-3">
                    <button class="btn botonpagar d-flex justify-content-between align-items-center w-100 rounded-3"
                        type="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span>Pagar mi compra</span>
                        <img src="/resources/images/pagar.png" alt="..." class="ms-auto" height="20px" width="20px">
                    </button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog rounded-5">
                <div class="modal-content">
                    <div class="modal-header rounded-1">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <img src="/resources/images/logoAcademiaBP.png" alt="..." width="150px" height="150px">
                        </div>
                        <span class="fw-bold d-block text-center fs-5 mb-5">¿Cómo deseas realizar el pago?</span>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <img src="/resources/images/credito.png" alt="..." width="140px" height="120px">
                                    <spa class="d-block mb-3">Tarjeta de crédito</span>

                                </div>
                                <div class="col-12 col-lg-6 debito">
                                    <img src="/resources/images/debito.png" alt="..." width="140px" height="120px">
                                    <span class="d-block">Débito</span>
                                </div>
                                <span class="LetraO">O</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn botonCerrar" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn botonPago">Completar mi pago</button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer>

    </footer>

    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> <!--Carrusel-->

    <!--Plantillas para header y footer-->
    <script src="/resources/js/headerPublico.js"></script>
    <script src="/resources/js/footerPublico.js"></script>
    <script src="/controllers/public/carrito.js"></script>
    <!--Buscador general de productos-->
    <script src="/resources/js/buscador_productos.js"></script>
</body>

</html>