<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Productos</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!--Estilo de la pagina-->
    <link rel="stylesheet" href="/resources/css/categorias_productos.css" />
    <link rel="stylesheet" href="/resources/css/buscador.css">
</head>

<body>
    <!-- Header de la página, conectado desde Javascript -->
    <header>

    </header>

    <!--Contenido principal del sitio público-->
    <main>


        <!--Sección 1, apartado para los productos de La Academia-->
        <section class="seccion1 text-center">
            <div class="tituloProducto">
                <!--Les agregamos un id, el cual es exactamente el mismo que el titulo, para referenciar a la pagina index al darle clic 
                a la imagen para que lo mande al apartado especifico-->
                <h1 class="fw-bold col-lg-12 categoriaMochila" id="Mochilas">Mochilas</h1>
                <h5>¡Elige la mejor opción con los mejores precios!</h5>
            </div>

            <div class="container text-center mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="../../../resources/images/imagenTmochilas.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="../../../resources/images/imagenTmochilas.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="../../../resources/images/imagenTmochilas.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="../../../resources/images/imagenTmochilas.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Seccion 2, mochilas-->
        <section class="seccion2 text-center mt-3">
            <div class="tituloProducto">
                <!--Les agregamos un id, el cual es exactamente el mismo que el titulo, para referenciar a la pagina index al darle clic 
                a la imagen para que lo mande al apartado especifico-->
                <h1 class="fw-bold col-lg-12 categoriaUniformes" id="Uniformes">Uniformes</h1>
                <h5>¡Elige la mejor opción con los mejores precios!</h5>
            </div>

            <div class="container text-center mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="/resources/images/uniforme1.jpeg" alt="..." width="180px"
                                    height="170px" class="mt-4 rounded-3" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="/resources/images/uniforme2.jpeg" alt="..." width="180px"
                                    height="170px" class="mt-4 rounded-3" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Mochila didáctica</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="/resources/images/uniforme1.jpeg" alt="..." width="180px"
                                    height="170px" class="mt-4 rounded-3" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Uniforme</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--Seccion 3, gorras-->
        <section class="seccion3 mt-3 text-center">
            <div class="tituloProducto">
                <!--Les agregamos un id, el cual es exactamente el mismo que el titulo, para referenciar a la pagina index al darle clic 
                a la imagen para que lo mande al apartado especifico-->
                <h1 class="fw-bold col-lg-12 categoriaGorras" id="Gorras">Gorras</h1>
                <h5>¡Elige la mejor opción con los mejores precios!</h5>
            </div>

            <div class="container text-center mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="/resources/images/imagenTgooras.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Gorra</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12  mb-2 d-flex align-items-start">
                        <div class="card col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <span class="discount-badge">20% de descuento</span>
                                <img src="/resources/images/imagenTgooras.png" alt="..." width="180px"
                                    height="170px" class="mt-4" />

                                <!--Grid para la parte de la calificación promedia del producto-->
                                <div class="container text-center mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <span class="textoCal">Calificación promedio:</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 mt-2" id="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre del producto destacado-->
                                <h5 class="card-title mt-2 mb-3">Gorra</h5>

                                <!--Espacio para el estado y las existencias de los productos destacados-->
                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span id="estado">Estado:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="disponible">Disponible</span>
                                    </div>
                                </div>
                                <div class="row mt-2 text-end">
                                    <div class="col-6">
                                        <span class="existencias-label" id="existencias-label">Existencias:</span>
                                    </div>
                                    <div class="col-6 text-start">
                                        <span id="existencias-value">40</span>
                                    </div>
                                </div>

                                <!--Agregar al carrito, precio del producto y espacio para ver comentarios-->
                                <div class="container text-center mt-4">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                                            <!--Agregar al carrito-->
                                            <img src="/resources/images/cesta2.png" alt="..." width="30px"
                                                height="30px" class="agregar"/>
                                        </div>
                                        <div class="col-lg-5 col-md-5 text-start col-sm-3 col-4">
                                            <!--Precio del producto-->
                                            <span class="fw-bold textoPrecio" name="textoPrecio">$50.00</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-3">
                                            <!--Ver comentarios del producto-->
                                            <img src="/resources/images/comentarios.png" alt="..." width="30px"
                                                height="30px" data-bs-toggle="modal"
                                                data-bs-target="#modalComentarios" class="botonmodal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--Modal para ver comentarios-->

            <div class="modal fade" id="modalComentarios" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-center align-items-center">
                            <img src="/resources/images/comentario.png" alt="..." width="100px" height="100px"
                                class="mx-auto" data-bs-dismiss="modal" id="botonCerrarComen">
                            <img src="/resources/images/logoAcademiaBP.png" alt="..." width="100px" height="100px"
                                class="mx-auto" data-bs-dismiss="modal" id="botonCerrarComen2">
                        </div>
                        <div class="modal-body">
                            <h5 class="text-center mb-4">Sección de comentarios</h5>
                            <div class="container text-center">
                                <div class="row">

                                    <div class="col col-lg-12">
                                        <input type="hidden" id="idProducto" name="idProducto">
                                        <img src="/resources/images/mochila.png" alt="..." class="imaegnProducto rounded-3">

                                        <div id="inputLaberls" class="col-lg-6">
                                            <label for="nombreProducto" name="nombreProducto" id="nombreProducto"
                                                class="fw-bold">
                                                Mochila didáctica
                                            </label>
                                            <br>
                                            <label for="descripcionProducto" class="mt-5" name="descripcionProducto"
                                                id="descripcionProducto">
                                                Mochila negra, para llevar a todos lados
                                            </label>
                                        </div>
                                    </div>

                                    <!--Comntarios-->
                                    <div class="scroll">
                                        <div class="mt-2 text-start contenedorComentario">
                                            <div class="container text-start mt-2">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                            height="40px" class="imagenCliente mt-2">
                                                        <div class="text1 col-lg-4">
                                                            <span>AMLO</span>
                                                        </div>
    
                                                        <label for="fechacomentario" class="fechacomentario" name="fechacomentario" id="fechacomentario">
                                                            09/09/2023
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comentarios">
                                                <label for="comentario" name="comentario"
                                                    class="comentario mt-3 mx-3 mb-1 col-lg-12" id="comentario">Producto muy
                                                    bueno</label>
                                            </div>
                                        </div>

                                        <div class="mt-2 text-start contenedorComentario">
                                            <div class="container text-start mt-2">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                            height="40px" class="imagenCliente mt-2">
                                                        <div class="text1 col-lg-4">
                                                            <span>AMLO</span>
                                                        </div>
    
                                                        <label for="fechacomentario" class="fechacomentario" name="fechacomentario" id="fechacomentario">
                                                            09/09/2023
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comentarios">
                                                <label for="comentario" name="comentario"
                                                    class="comentario mt-3 mx-3 mb-1 col-lg-12" id="comentario">Producto muy
                                                    bueno</label>
                                            </div>
                                        </div>

                                        <div class="mt-2 text-start contenedorComentario">
                                            <div class="container text-start mt-2">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                            height="40px" class="imagenCliente mt-2">
                                                        <div class="text1 col-lg-4">
                                                            <span>AMLO</span>
                                                        </div>
    
                                                        <label for="fechacomentario" class="fechacomentario" name="fechacomentario" id="fechacomentario">
                                                            09/09/2023
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comentarios">
                                                <label for="comentario" name="comentario"
                                                    class="comentario mt-3 mx-3 mb-1 col-lg-12" id="comentario">Producto muy
                                                    bueno</label>
                                            </div>
                                        </div>

                                        <div class="mt-2 text-start contenedorComentario">
                                            <div class="container text-start mt-2">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <img src="/resources/images/userIcon.png" alt="..." width="40px"
                                                            height="40px" class="imagenCliente mt-2">
                                                        <div class="text1 col-lg-4">
                                                            <span>AMLO</span>
                                                        </div>
    
                                                        <label for="fechacomentario" class="fechacomentario" name="fechacomentario" id="fechacomentario">
                                                            09/09/2023
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-12 text-end" id="stars2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comentarios">
                                                <label for="comentario" name="comentario"
                                                    class="comentario mt-3 mx-3 mb-1 col-lg-12" id="comentario">Producto muy
                                                    bueno</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </main>

    <!--Footer de la página-->
    <footer class="p-1 mt-5"></footer>

    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Iconos en font awesome-->
    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <!--Plantilla del header, sitio público-->
    <script src="../../../resources/js/headerPublico.js"></script>
    <!--Plantilla del footer, sitio público-->
    <script src="../../../resources/js/footerPublico.js"></script>
    <!--Plantilla del menú hamburguesa, sitio público-->
    <script src="../../../controllers/utils/dropdownMenu.js"></script>

    <!--Buscador general de productos-->
    <script src="/resources/js/buscador_productos.js"></script>

    <!--Controlador de categorias y productos-->
    <script src="/controllers/public/categorias_productos.js"></script>
</body>

</html>