<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Conócenos</title>
    <!-- Link de Bootstrap para el diseño de la página -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Links del CSS para el diseño de la página -->
    <link rel="stylesheet" href="../../resources/css/conocenos.css">
</head>

<body>

    <main>

        <!--carrusel de imágenes sobre los valores de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle"></h3>
            <div id="carruselValores" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardValores">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselValores" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselValores" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!--carrusel de imágenes sobre los aliados de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle2"></h3>
            <div id="carruselAliados" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardAliados">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselAliados" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselAliados" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!--carrusel de imágenes sobre los miembros del staff de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle3"></h3>
            <div id="carruselStaff" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardStaff">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselStaff" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselStaff" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!--carrusel de imágenes sobre los lugares y horarios de entrenamiento de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle4"></h3>
            <div id="carruselLugaresHorarios" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardLugaresHorarios">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselLugaresHorarios" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselLugaresHorarios" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!--carrusel de imágenes del nivel formativo de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle5"></h3>
            <div id="carruselImgsNiveles" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardImgsNiveles">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselImgsNiveles" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselImgsNiveles" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!--carrusel de imágenes del nivel competitivo de La Academia -->
        <section>
            <h3 class="mt-3 mb-5 text-center" id="sectionTitle6"></h3>
            <div id="carruselImgsNiveles2" class="carousel slide mt-5" data-bs-ride="carousel">
                <div class="carousel-inner" id="cardImgsNiveles2">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselImgsNiveles2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselImgsNiveles2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

    </main>

    <footer>

    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> <!--Carrusel-->
    <!-- Scripts de Fuente y controladores -->
    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/conocenos.js"></script>

</body>

</html>