<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../../resources/css/inscripcion_alumnos.css">
    <title>Inscripción de alumnos</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container inscripcion">
            <form>
                <!--Formulario de inscripción-->
                <h1 class="mb-4">¡Inscribe a tu hijo!</h1>
                <span class="mb-4">Completa los siguientes campos para que puedas inscribir a tu hijo en La Academia BP:
                    Ingresa el nombre, apellido, fecha de nacimiento y posición en la que se inscribirá tu hijo.
                    ¡Automáticamente asignaremos la categoría para tu hijo! </span>
                <input type="text" placeholder="Ingresar nombres" class="col-lg-12 col-md-12 col-sm-12 col-12">
                <input type="text" placeholder="Ingresa apellidos" class="col-lg-12 col-md-12 col-sm-12 col-12">
                <input type="date" class="col-lg-12 col-md-12 col-sm-12 col-12 col-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <select id="posicion" class="form-select mb-4 mt-3 rounded-0" required>
                        <option value="" disabled selected>Posición en la que se inscribirá tu hijo</option>
                        <option value="categoria1">Portero</option>
                        <option value="categoria2">Jugador de campo</option>
                    </select>
                </div>
                <input type="text" placeholder="Tu hijo será inscrito en la categoría:" readonly
                    class="col-lg-12 col-md-12 col-sm-12 col-12">

                <button>Enviar datos</button>
            </form>
            <!--Contenedor con el logo de la Academia-->
            <div class="toggle-container ">
                <div class="toggle">
                    <div class="toggle-panel toggle-left justify-content-center align-self-center mt-5">
                        <div class="toggle-image mt-5">
                            <img src="../../../resources/images/logoAcademiaBP.png" alt="logoAcademiaBP"
                                class="mt-5 mx-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/controllers/public/inscripcion.js"></script>
</body>

</html>