<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Link para las estrellitas en la valoración de productos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/compras.css">
    <link rel="stylesheet" href="../../resources/css/buscador.css">
</head>

<body>

    <main>
        <div class="contennn mt-5">
            <div class="container mt-5">
                <div class="text-center">
                    <h5 class="mt-5">
                        Mis compras
                    </h5>
                    <div class="row mt-5">
                        <div class="col-12 d-flex justify-content-center">
                            <form class="d-flex flex-grow-1" id="searchForm">
                                <div class="buscador position-relative">
                                    <i class="fas fa-microphone search-icon microphone-button"
                                        id="microphone-button"></i>
                                    <input class="busc light-table-filter" data-table="order-table" type="text"
                                        placeholder="Busque por producto o fecha de la compra" id="Buscador"
                                        name="search">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-11 col-sm-10 col-md-12 col-12 mx-auto">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <td colspan="9" id="rowsFound"></td>
                        </tr>

                    </thead>
                    <tbody id="tableBody">


                    </tbody>
                </table>
            </div>

            <div class="carousel-inner" id="ordenes">

            </div>
        </div>
    </main>

    <!--Modal para mostrar la realización del pedido-->
    <div class="modal fade" id="modalValorar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center align-items-center">
                    <img src="../../resources/images/comentario.png" alt="..." width="100px" height="100px"
                        class="mx-auto" data-bs-dismiss="modal" id="botonCerrarCo">
                    <img src="../../resources/images/logoAcademiaBP.png" alt="..." width="100px" height="100px"
                        class="mx-auto" data-bs-dismiss="modal" id="botonCerrarCo2">
                </div>
                <div class="modal-body">
                    <h4 class="text-center" id="modalTitle"></h4>
                    <p class="text-center">Tu opinión nos será de mucha utilidad para que las personas quieran
                        adquirir este producto. </p>
                    <div class="container text-center">
                        <div class="row">
                            <form id="formularioValoracion">
                                <div class="col col-lg-12">
                                    <input type="hidden" id="idDetalle" name="idDetalle">
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <div class="rating">
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>
                                        <i class="bi bi-star-fill star"></i>

                                    </div>
                                    <input class="mt-3" type="text" name="calificacion" id="calificacion" readonly>
                                </div>
                                <div class="col col-lg-12 mt-2 mb-4">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="comentario" name="comentario" style="height: 100px" required></textarea>
                                        <label for="floatingTextarea2">Agrega tu comentario</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btnEnviarValoracion">
                                        <img src="../../resources/images/enviarValoracion.png" alt="..." width="40px"
                                            height="40px">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>

    <!--Buscador de compras-->
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/compras.js"></script>
    <script src="../../controllers/utils/voicerecognition.js"></script>
    <script src="../../controllers/utils/estrellas.js"></script>
</body>

</html>