<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del cliente</title>
    <!--Link de recursos bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--Link de recursos css de la pantalla perfil-->
    <link rel="stylesheet" href="../../resources/css/perfilCliente.css">
    <!--Link de recursos css del buscador-->
    <link rel="stylesheet" href="../../resources/css/buscador.css">
</head>

<body>
    <main>
        <!--Primera parte del perfil-->
        <div class="container mb-4">
            <div class="row">
                <div class="col text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <h3 class="ms-5 mt-4">Mi cuenta</h3>

                    </div>
                </div>
            </div>

            <!--contenedor donde se mostraran los datos del perfil del usuario-->
            <div class="container mt-4" id="conte">
                <div class="row ">
                    <div class="col-lg-8">

                        <!--contenedor para la edicion de datos del perfil-->
                        <form class="row g-3" id="profileForm">
                            <div class="col-md-5 mt-5 d-flex flex-column align-items-center">
                                <div class="position-relative mb-4">
                                    <img src="../../resources/images/userIcon.png"
                                        class="col-md-12 col-lg-7 mb-1 rounded-circle" alt="..." id="imagen">
                                    <input type="file" id="fotoInput" name="fotoInput" accept="image/*" class="d-none">
                                    <button type="button"
                                        class="btn position-absolute bottom-0 end-0 translate-middle mt-5"
                                        id="botonCargarFoto" onclick="document.getElementById('fotoInput').click()">
                                        <img src="../../resources/images/btnActualizarIMG.png" alt="" width="30px"
                                            height="30px" class="mb-1 mt-4">
                                    </button>
                                </div>
                                <div class="mb-3">
                                    <label for="fecharegistroCliente" class="form-label">Registrado desde:</label>
                                    <input id="fecharegistroCliente" type="text" name="fecharegistroCliente"
                                        class="form-control text-center" required readonly>
                                </div>

                                <!-- Contenedor Flex para la imagen y el texto de cerrar sesión -->
                                <div class="d-flex align-items-center" id="cerrarS">
                                    <img src="../../resources/images/cerrarsesion.png" alt="..." width="40px"
                                        height="40px" class="imagenCerarr" onclick="logOut()">
                                    <a onclick="logOut()" class="d-flex align-items-center ms-2">
                                        <h6 class="textito mb-0">Cerrar sesión</h6>
                                    </a>
                                </div>
                            </div>

                            <!-- Contenedor para el ingreso y edicion de datos para el perfil -->
                            <div class="col-md-7">
                                <div class="row g-3">
                                    <input id="idCliente" type="text" name="idCliente" class="form-control" hidden>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="nombreCliente" class="form-label">Nombre:</label>
                                        <input id="nombreCliente" type="text" name="nombreCliente" class="form-control"
                                            required>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="apellidoCliente" class="form-label">Apellido:</label>
                                        <input id="apellidoCliente" type="text" name="apellidoCliente"
                                            class="form-control" required>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="duiCliente" class="form-label">Dui:</label>
                                        <input id="duiCliente" type="text" name="duiCliente" class="form-control"
                                            required>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="correoCliente" class="form-label">Correo:</label>
                                        <input id="correoCliente" type="email" name="correoCliente" class="form-control"
                                            required>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="telefonoCliente" class="form-label">Teléfono:</label>
                                        <input id="telefonoCliente" type="text" name="telefonoCliente"
                                            class="form-control" required>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <label for="direccionCliente" class="form-label">Dirección:</label>
                                        <input id="direccionCliente" type="text" name="direccionCliente"
                                            class="form-control" required>
                                    </div>
                                </div>

                                <!-- Contenedor para los botones de edicion y actualizacion de datos del perfil del usuario -->
                                <div class="text-center mb-4 mt-3">

                                    <button type="submit" class="btn mt-1" id="botonActualizarDatos">
                                        <img src="../../resources/images/editardatos.png" alt="Editar datos"
                                            width="40px" height="40px" class="ms-5 botonC">
                                    </button>


                                    <button type="button" class="btn rounded-2 mt-1" onclick="openPassword()"
                                        id="botonActualizarContrasena">
                                        <img src="../../resources/images/cambiarcontra.png" alt="Cambiar contraseña"
                                            width="40px" height="40px" class="ms-3 botonC">
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <!-- Contenedor para el boton para la revision de alumnos registrados en el sistema -->
                    <div class="col-lg-4">

                        <form class="row g-3" id="profileForm2">

                            <h3 class="card-title text-center">Alumnos registrados <a
                                    href="verpagosrealizados.html"><img
                                        src="../../resources/images/verhistroialpagos.png" alt="..." width="50px"
                                        height="40px" class="mx-4 mt-2"></a></h3>

                            <div class="card mb-4 h-100" id="cardAlumnos">

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal para el cambio de contraseña del usuario -->
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 col-12 text-center fw-bold" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label col-12 text-center fw-bold">Clave actual</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control"
                                    required>
                            </div>
                            <div class="col-12 text-center fw-bold">
                                <span>Clave nueva</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label fw-bold">Nueva clave</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label fw-bold">Confirmar clave</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>


    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>

    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>

    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/perfil.js"></script>
</body>

</html>