<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ver pagos realizados en línea</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!--Estilo de la pagina-->
    <!--Link de recursos css de la pantalla categoriaproducto-->
    <link rel="stylesheet" href="../../resources/css/categorias_productos.css" />
    <!--Link de recursos css de productos-->
    <link rel="stylesheet" href="../../resources/css/productso.css" />
    <!--Link de recursos css del buscador-->
    <link rel="stylesheet" href="../../resources/css/buscador.css">
    <!--Link de recursos css de la pantalla verpagosrealizados-->
    <link rel="stylesheet" href="../../resources/css/verpagos.css">
</head>

<body>
    <main>
        <!--Titulo de la pantalla-->
        <h4 id="mainTitle" class="text-center mb-4"></h4>
        <!--Contenedor donde apareceran los datos-->
        <div class="row mx-2" id="pagos"></div>

    </main>

    <!--Scripts de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/22fd8b70d9.js" crossorigin="anonymous"></script>
    <!--Controlador de sweet alert-->
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <!--Controlador de los componentes del sitio publico-->
    <script src="../../controllers/utils/components.js"></script>
    <!--Controlador del sitio publico-->
    <script src="../../controllers/utils/public.js"></script>
    <!--Controlador de la pantalla verpagosrealizados-->
    <script src="../../controllers/public/vermensualidades.js"></script>
</body>

</html>